.increment-view
  margin: 20px
  font-size: 16px

  .item
    margin-top: 5px
    display: block
    background-color: #5ab5f7
    border-color: #5ab5f7
    color: #FFF
    padding: 8px 21px
    outline: none
    border: none
    border-radius: 2px
    cursor: pointer
    &:hover
      opacity: .9
